@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<IdentityUser> SignInManager
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - MagicGirlWeb</title>
  <link href="~/theme_focus/css/lib/font-awesome.min.css" rel="stylesheet">
  <link href="~/theme_focus/css/lib/themify-icons.css" rel="stylesheet">
  <link href="~/theme_focus/css/lib/menubar/sidebar.css" rel="stylesheet">
  <link href="~/theme_focus/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="~/theme_focus/css/lib/helper.css" rel="stylesheet">
  @await RenderSectionAsync("Css", required: false)
  <link href="~/theme_focus/css/style.css" rel="stylesheet">
  <!-- Customize -->
  <link href="~/theme_focus/css/customize.css" rel="stylesheet">
  <link rel="icon" href="~/theme_focus/images/favicon_32x32.ico">
  @if (TempData["message"] != null)
  {
    <script type="text/javascript">
      var message = "@Html.Raw(TempData["message"])";
      alert(message);
    </script>
  }
</head>

<body class="pace-done">
  <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
      <div class="nano-content">
        <div class="logo"><a href="/"><span>
              <img src="~/theme_focus/images/MGLogo@2x.png" width="150px" /></span>
          </a></div>
        <ul>
          <li class="label">Home</li>
          <li><a asp-area="" asp-controller="Home" asp-action="News"><i class="ti-calendar"></i>更新紀錄</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Issues"><i class="ti-comment"></i>問題/需求回報</a></li>
          @if (SignInManager.IsSignedIn(User))
          {
            <li class="label">魔法工具箱</li>
            <li><a asp-area="" asp-controller="Books" asp-action="Fetch"><i class="ti-package"></i>線上小說轉檔</a></li>
            <li><a asp-area="" asp-controller="Books" asp-action="SmartEdit"><i class="ti-wand"></i>魔法格式調整</a></li>
            <li><a asp-area="" asp-controller="Books" asp-action="BookDownload"><i class="ti-calendar"></i>下載紀錄</a></li>
            <li class="label">鑽石會員專區</li>
            <li><a asp-area="" asp-controller="Books" asp-action="Depository"><i class="ti-cloud-down"></i>精選存放區</a></li>
          }
          @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
          {
            <li class="label">系統管理</li>
            <li><a asp-area="" asp-controller="Account" asp-action="RoleSetting"><i class="ti-user"></i>使用者權限管理</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
  <!-- /# sidebar -->

  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="float-left">
            <div class="hamburger sidebar-toggle">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
          <!-- User -->
          <div class="float-right">
            <partial name="_LoginPartial" />
          </div>
          <!-- User -->
        </div>
      </div>
    </div>
  </div>
  <!-- header -->

  @RenderBody()

  <div class="content-wrap">
    <div class="col-lg-12">
      <footer class="border-top footer">
        &copy; 2022 - MagicGirlWeb<br>
      </footer>
    </div>
  </div>

  <!--**********************************
          Scripts
      ***********************************-->

  <!-- jquery vendor -->
  <script src="~/theme_focus/js/lib/jquery.min.js"></script>
  <script src="~/theme_focus/js/lib/jquery.nanoscroller.min.js"></script>
  <!-- nano scroller -->
  <script src="~/theme_focus/js/lib/menubar/sidebar.js"></script>
  <script src="~/theme_focus/js/lib/preloader/pace.min.js"></script>
  <!-- sidebar -->
  <script src="~/theme_focus/js/lib/bootstrap.min.js"></script>
  <!-- bootstrap -->
  <script src="~/theme_focus/js/scripts.js"></script>
  <!-- custom js for _Layout.cshtml -->
  <script src="~/js/site.js" asp-append-version="true"></script>
  <!-- script init-->
  @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
