@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="dropdown dib">
  @if (SignInManager.IsSignedIn(User))
  {
    <div class="dropdown dib">
      <div class="dropdown dib">
        <div class="header-icon">
          <span class="user-avatar" data-toggle="dropdown">@User.Identity.Name
            <i class="ti-angle-down f-s-10"></i>
          </span>
          <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
            <div class="dropdown-content-body">
              <ul>
                <li>
                  <a asp-area="" asp-controller="Account" asp-action="EmailSetting">
                    <i class="ti-settings"></i>
                    <span>收件設定</span>
                  </a>
                </li>
                <li>
                  <a asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path">
                    <i class="ti-power-off"></i>
                    <span>登出</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  else
  {
    <div class="dropdown dib">
      <div class="dropdown dib">
        <div class="header-icon">
          <form id="formLogin" method="post" asp-controller="Account" asp-action="ExternalLogin"
          asp-route-returnurl="@Context.Request.Path">
            <a id="anchorLogin" class="user-avatar google-login" title="使用Google登入">
              <img src="~/theme_focus/images/google-24.svg" class="m-r-12">
              <span>使用 Google 登入</span> 
            </a>
            <button id="btnLogin" type="submit" name="provider" value="Google" title="Login" hidden></button>
          </form>
        </div>
      </div>
    </div>
  }
</div>
