/* Version: 1.1
*/
/*-------- css code for customize layout  --------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700,900');

/* 修正內容高度不足時側邊欄無法填滿 */
html{
  height: 100%;
}
body{
  min-height: 100%;
}
/* Color Style
--------------------------------------------------*/
/* 顏色補充 */
.color-darkgrey{
  color: #868e96!important;
}
/* Bootsrap Table 斑馬紋顏色調整 */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(0 0 0 / 3%);
}
/* Font Style
--------------------------------------------------*/
/* 文字樣式調整 */
.main .page-header .page-title h1{
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.main .page-header .page-title p{
  line-height: 1.7;
}
p{
  font-size: 15px;
}
/* input Placeholder 顏色 */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;
}
/* 文字超連結樣式 */
a.border_b_dotted{
  border-bottom: dotted 1px;
}
/* 列表樣式圖案 */
ul.list_disc li{
  list-style: disc;
}
/* 文字斷行 */
.text-break{
  word-break: break-all;
}
/* 文字只在小螢幕置中 */
.mb-center{
  text-align: left;
}
@media (max-width: 999px) {
  .mb-center{
    text-align: center;
  }
}
/* Layout
--------------------------------------------------*/
/* 只在大螢幕出現 */
.lg-show{
  display: block;
}
@media (max-width: 999px) {
  .lg-show{
    display: none;
  }
}
/* 只在小螢幕出現 */
.mb-show{
  display: none;
}
@media (max-width: 999px) {
  .mb-show{
    display: block;
  }
}
/* LoginPage 垂直置中 */
.grid-center{
  margin: auto;
	display: grid;
  justify-content: center;
  align-items: center; 
}
/* Nav移除下方底線 */
ul.nav-tabs {
  border-bottom: 0px;
}
.table-receiver{
  min-width: 75px;
}
/* hr 參數設定 */
hr{
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
  hr{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/* Sidebar不往下移 */
@media (min-width: 320px) and (max-width: 679px){
.sidebar {
    top: 0px !important;
  }
}
/* Dropdown 內容移除第一項的上邊線 */
.dropdown-content-body>ul>li:first-child{
  border-top: 0;
}
/* IMAGE
--------------------------------------------------*/
/* Login頁圖 */
.MG-Logo-land{
  width: 66px;
  height: 87px;
  background: url(../images/MGLogo_landscape@2x.png) no-repeat;
  background-size: contain;
  margin: 24px auto;  
}
/* Footer
--------------------------------------------------*/
footer{
  text-align: left;
  margin-top: 1rem;
}
@media (max-width: 999px) {
  footer{
    text-align: center;
    margin-top: 100px;
  }
}


/* Btn
--------------------------------------------------*/
/* GoogleLogin */
.google-login{
  vertical-align: middle;
  border: 1px solid #cccccc;
  padding: 12px 15px;
  border-radius: 4px;
}
.hero-text .google-login{
  font-size: 1rem;
  padding: 12px 30px;
}
.create-email{
  border: 1px dotted #cccccc;
}
/* Table
--------------------------------------------------*/
/* 收件設定表格樣式 */
.table-hover tr:hover{
  background-color: aliceblue !important;
}
.table-hover thead tr:hover{
  background-color: #ffffff !important;
}
.email-setting tr th:nth-child(2),.email-setting tr td:nth-child(2){
  min-width: 100px;
}
.email-setting tr th:nth-child(3),.email-setting tr td:nth-child(3){
  min-width: 50px;
}
.email-setting tr td:nth-child(3) a{
  padding-left: 1rem;
}
@media (min-width: 320px) and (max-width: 1140px) {
  .email-setting tr td:nth-child(3) a{
    padding-left: 0;
    display: block;
  }
}
/* Bootstrap-table */
.fixed-table-pagination .pagination-detail .page-list .btn.dropdown-toggle{
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin: 0 0.25rem;
}
/* Forms
--------------------------------------------------*/
/* input */
.input-box{
  position: relative;
}
.clear-input{
  display: none;
  position: absolute;
  top: 8px;
  right: 1rem;
}
.name-input{
  padding-right: 3rem;
}
.clear-input-img{
  display: block;
  opacity: .3;
}
/* checkbox */
input.largerCheckbox {
  width: 1.5rem;
  height: 1.5rem;
}
input.checkMiddle{
    vertical-align: middle;
    display: table-cell;
    position: relative;
    margin: 0;
    margin-right: .5rem;
}
/* SmartEdit */
.emailSelectBox{
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (min-width: 320px) and (max-width: 480px){
  .emailSelectBox{
    max-height: 230px;
  }
}
.emailSelectBox2{
  padding-left: 24px;
}
#SEmailChecked-show{
  display: none;
  padding: 1rem;
  border: 1px dashed #ccc;
}
/* FilePond
--------------------------------------------------*/
.filepond--label-action.btn{
  text-decoration: none;
}
.filepond--panel-center.filepond--panel-root{
  transform: none;
  /* background-color: #f7f7f7;
  border-left: 1px dashed #cccccc;
  border-right: 1px dashed #cccccc; */
}
.filepond--panel-bottom.filepond--panel-root{
  transform: none;
  border-bottom: 1px dashed #cccccc;
}
.filepond--root.filepond.filepond--hopper{
  border: 1px dashed #cccccc;
  border-radius: 4px;
  background-color: #f7f7f7;  
}
