@{
    ViewData["Title"] = "[低調] 線上小說轉檔";
}

<div class="text-center">
    <h1 class="display-4">問題/需求回報</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeStGNIroXHAgiuoAV567uLhFmTvbcnDGxeOdY8RAzG5zDS4Q/viewform?embedded=true" width="640" height="787" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
</div>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>問題/需求回報</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->            
            <section id="main-content">
                <div class="row">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeStGNIroXHAgiuoAV567uLhFmTvbcnDGxeOdY8RAzG5zDS4Q/viewform?embedded=true" width="640" height="787" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
                </div>
                <!-- /# row -->
            </section>
        </div>
    </div>
</div>
<!-- contain-wrap -->
