@{
  ViewData["Title"] = "[低調] 線上小說轉檔";
}

<div class="content-wrap">
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
          <div class="page-header">
            <div class="page-title">
              <h1>更新紀錄</h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-title">
                <!-- <h4>Basic Elements</h4>   -->
              </div>
              <div class="card-body">
                <p>2022/02/12: 睽違已久的更新，新增PTT網頁版單頁爬文功能</p>
              </div>
            </div>
          </div>
          <!-- /# column -->
        </div>
        <!-- /# row -->
      </section>
    </div>
  </div>
</div>
<!-- contain-wrap -->
